<div class="full-page">
  <div class="header">
    <div style="display: flex; flex-direction: column; justify-content: space-between; ">
      <div style="display: flex; flex-direction: row; justify-content: space-between; ">
        <div style="width: 100%;">
          <data-control [field]='this.$.search'></data-control>
        </div> 
      </div>
      <div style="display: flex; flex-direction: row; justify-content: space-between; ">
        <button style="width: 100%;" mat-raised-button color='primary' (click)="upsertUser()">
          <mat-icon>add</mat-icon>
          <mat-label> {{ this.terms.addUser }} </mat-label>
        </button>
      </div>
    </div>
  </div>
  <div class="grow-item">
  <data-grid [settings]="users"></data-grid>
  </div>
  </div>