<div class="full-page">
  <div class="grow-item">
    <div style="display:flex;flex-direction: column;flex-grow: 1;justify-content: space-between;">

      <div style="display:flex;justify-content: center;">
        <img style="width: 100%;" src="assets/tora.shlema.logo.with.text.png" title="מנהיגות תורנית" />
      </div>
      <h2 style="display:flex;justify-content: center;">שלום {{ remult.authenticated() ? remult.user.name : ' - ' }}
        <span style="color: green;">{{ remult.authenticated() ? '' : 'לכניסה יש ללחוץ למעלה' }}</span>
      </h2>
      <h2 style="display:flex;justify-content: center;">חדשות שלנו..</h2>
      <!-- *ngIf="args.helpText"> -->
      <div *ngIf="remult.authenticated() && remult.user.roles.length === 0">
        <div style="
          width: 80%; 
          height: auto;
          border: none; 
          text-align: center; 
          font-weight: bold; 
          font-size: xx-large; 
          color: orangered;
          background-color: transparent;" class="help-text">
          <div>{{ 'בהמתנה לאישור הרשמתך לתוכנית' }}</div>
          <br>
          <div>{{ 'הודעה תשלח למספר ' + ' 052- ' + ' כאשר יתקבל אישור' }}</div>
          <br>
          <div>{{ 'לפרטים ניתן לשלוח ווטסאפ למספר ' + ' 053-help ' + ' או למייל' }}</div>
        </div>
      </div>
      <!-- <div style="display:flex;justify-content: center;">
        <strong>
          <p style="color: green;">הפריטים שלנו</p>
        </strong>
      </div> -->
      <!-- <div>
        <p style="color: green;"><strong>
            <h2>אנו כאן לכל שאלה</h2>
          </strong></p>
      </div> -->

      <!-- <div style="display:flex;justify-content: center;">
        <img src="assets/home.jpeg" title="מי אנחנו" />
      </div> -->
    </div>
  </div>
  <div class="footer" *ngIf="remult.authenticated() && remult.user.roles.length === 0">
    <div style="display:flex;justify-content: center;">
      <!-- <h4> 
        <span>נכון ל: {{ this.now() | date : 'HH:mm' }} </span>
      </h4> -->
      <button mat-flat-button style="background-color: transparent;" title="בדוק שוב"  (click)="this.refresh()"> 
        <mat-label> נכון ל: {{ this.now() | date : 'HH:mm' }} </mat-label>
        <mat-icon>refresh</mat-icon>
      </button>
    </div>
  </div>
</div>